@import '../../Variables.scss';


.intro{
    display: flex;
    flex-direction: column;
    
    @include tablet {
        margin-top: 1rem;
        flex-direction: row;
      }

    &__content{
        flex: 1 0 50%;

        display: flex;
        flex-direction: column;

        p{
            line-height: 1.5rem;
            padding-right: 1rem;
        }
    }

    &__graphic{
        &--image{
            width: 100%;
            height: 100%;
        }
    }
}